* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color:dimgray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-family: cursive;
    font-size: auto;
    font-weight: bold;
    margin: 0 0 0 10px;
    
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: auto 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
}

.section-title {
    color:sienna;
    text-align: left;
    border-bottom: sienna 3px solid;
    margin: 0 auto 10px 10px;
    padding-bottom: 10px;
    width: 40%;
}

footer {
    background-color: dimgray;
}

footer {
    font-size: 26px;
}

section {
    padding: 20px 60px 20px 60px;
}

.jumbo {
    background-image: url("../images/Coding-img.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px 0 100px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#run {
    border: yellow 3px solid;
    width: 400px;
    height: 300px;
    margin-top: 30px;
    background-image: url("../images/Screen\ Shot\ 2021-11-13\ at\ 3.44.05\ PM.png");
    background-size: cover;
}

#horiseon {
    border: yellow 3px solid;
    width: 400px;
    height: 300px;
    margin-top: 30px;
    background-image: url("../images/Screen\ Shot\ 2021-11-13\ at\ 4.59.03\ PM.png");
    background-size: cover;
}

#resume {
    border: yellow 3px solid;
    width: 400px;
    height: 300px;
    margin-top: 30px;
    background-image: url("");
    background-size: cover; 
}

#project {
    border: yellow 3px solid;
    width: 400px;
    height: 300px;
    margin-top: 30px;
    background-image: url("");
    background-size: cover; 
}

.profile {
    display: flex;
    flex-wrap: nowrap;
    border: yellow 5px solid;
}

.profile img {
    width: 30%;
}

.profile p {
    border: yellow 5px solid;
    width: 300px;
    margin-left: 10px;
}
